<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Signup Page</title>
  </head>
  <body> 
    <div id="content">
      <div class="grid grid-cols-12">
      <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
<!--------------------------card-------------------->      
          <div
             class="block p-6  border-blue-800 border-t-8 bg-white  rounded-xl shadow hover:bg-gray-100"
          >
<!----------------------Message alert--------------->
    <div th:replace="~{message::messagebox}"></div>


            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
             Signup Here
            </h5>
            <form th:action="@{'/do-register'}" method="post" data-th-object="${userForm}" class="mt-5" >
<!--------------------------name-------------------->
            <div class="mb-3">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" id="name" data-th-field="*{name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Here" required />
            </div>

<!--------------------------email-------------------->
             <div class="mb-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="text" id="email" data-th-field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Email" required />
            </div>

<!--------------------------password-------------------->
             <div class="mb-3">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Pasword</label>
            <input type="password" id="password" data-th-field="*{password}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Password" required />
            </div>
<!--------------------------phone number-------------------->
             <div class="mb-3">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
            <input type="text" id="phone" data-th-field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Number" required />
            </div>
<!--------------------------about-------------------->
            <div class="mb-3">
            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write something about You.</label>
            <textarea id="about" rows="6" data-th-field="*{about}" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here..."></textarea>
            </div>
<!--------------------------Button-------------------->
            <div class="mb-3 flex justify-center space-x-3">
            <Button type="submit" class="px-3 py-2 rounded bg-gray-800 text-white hover:bg-gray-900">Signup</Button>
            <Button type="reset" class="px-3 py-2 rounded bg-blue-800 text-white hover:bg-gray-900">Reset</Button>
            </div>

            </form>
        </div>
      </div>
    </div>

    <script>
      console.log("Signup page script");
    </script>
  </body>
</html>
